*{
    font-family: 'Poppins';
    margin:0;
    padding:0;
}
body {
    /* background: #fafafa; */
    background-color: #ffffff;
}

#sortAsc{
    background-color: #84a5f2;
    color:#ffffff;
}

h1 {
    color: #2f78e7;
    text-align: center;
background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    padding: 20px;
}

button[type="submit"]{
    background-color: gold;
    border-radius: 5px;
}

form,
.controls {
    margin:20px 20px 30px 20px;
}

input {
    padding: 8px;
    margin: 4px;
    border:1px solid black;
    width: 45%;
    border-radius: 5px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background-color: rgb(255, 255, 254);
    color:#000000;
    padding: 50px;
}

th,
td {
    border: 1px solid #0c0c0c;
    padding: 10px;
    text-align: left;
    color: #000000;
    /* font-weight: bold; */
}

th {
    background-color: #2f78e7;
    color: #fff;
}